@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    --highlight: #717178;
    --border: #1E1E1E;
    --bg: #09090b;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

body {
    -webkit-tap-highlight-color: transparent;
    color: white;
    background-color: var(--bg);
}

